<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/app :: html_head}" />

<body>
	<div th:replace="~{layout/app :: menu}" />

	<div class="container special">
		<div class="row">
			<div class="col-sm-6">
				<div class="card text-white bg-primary text-center">
					<div class="card-body">
						<h5 class="card-title">Catégories</h5>
						<p class="card-text">
						<h1 th:text="${nc}">0</h1>
						</p>
						<a th:href="@{/categories}" class="btn btn-secondary">
							Details
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card text-white bg-primary text-center">
					<div class="card-body">
						<h5 class="card-title">Produits</h5>
						<p class="card-text">
						<h1 th:text="${np}">0</h1>
						</p>
						<a th:href="@{/produits}" class="btn btn-secondary">
							Details
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{layout/app :: script}" />
</body>

</html>